h3{
    text-align: center;
}

.grid{
    border: 5px solid black;
    height: 80vh;
    width: 80vh;
    background-color: rgb(52, 134, 228);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    gap: 1.2rem;  /* change cell spacing*/
    padding: 1.2rem;
    box-sizing: border-box;

}

.grid div{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: inset rgb(30 70 160) 3px 1px 10px, inset rgb(30 70 160) -3px -1px 10px;
    
}

.cell{
    border: 5px solid rgb(18, 90, 172);
    background-color: white;
    cursor: pointer;
}

/* add logic so only hover if not taken */
.cell:hover{
    background-color: rgba(170, 168, 172, 0.876);
}

.bottom-row{
    margin: .311rem;
}

.player-1 {
    background-color: red;
    border-radius: 10px;
}

.player-2 {
    background-color: yellow;
    border-radius: 10px;
}