.score {
    color: black;
    font-family: 'StarJedi';
    text-align: center + 16 px;
    opacity: 0.7;
    padding: 4px; 
}
.score span {
    background-color: yellow;
    

}

/* Selection Buttons Styling */
.slot-2{
    padding: 48px 45px;
    float: center;
    opacity: 0.1;;
    background-image: url("../images/lightsabers/WOBG/red2.png");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 2rem;
}
.slot-2:hover{
    opacity: 1;;
}
.slot-1{
    padding: 48px 45px;
    float: center;
    opacity: 0.1;;
    background-image: url("../images/lightsabers/WOBG/Blue2.png");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 2rem;
}
.slot-1:hover{
    opacity: 1;;
}
.selectButtons {
    text-align: center;
}

/* Use the Force button  */
.hintButton {
 background-color: yellow;

}

.highlight {
    opacity: 1;
    border-radius: 100%;
    box-shadow: gold 0 0 6px 2px;
}